.landingPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  .pageContents {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    .titleDesc {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 7%;
      color: $primary-color;
      .titleSm {
        font-size: 26px;
        font-weight: 600;
      }
      .title {
        font-size: 55px;
        line-height: 1;
        font-weight: 600;
      }
      p {
        padding-top: 3%;
        padding-right: 3%;
        font-size: 19px;
        line-height: 1.8;
      }
      .btWrap {
        margin: 0 auto;
        width: 60%;
        .head {
          background: whitesmoke;
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
        }
        .btRates {
          height: 60px;
          flex: 0 0 60px;
          border: 1px solid $border-color;
          padding-right: 20px;
          display: flex;
          align-items: center;
          .coin {
            cursor: pointer;
            height: 100%;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-right: 1px solid $border-color;
            img {
              width: 24px;
              height: 24px;
              border-radius: 12px;
              margin-right: 10px;
            }
            span {
              font-size: 22px;
              font-weight: bold;
            }
            * {
              transition: all 300ms ease;
            }
            &:hover {
              background: whitesmoke;
              * {
                transform: scale(1.03);
              }
            }
          }
          .value {
            font-size: 20px;
            font-weight: 500;
            margin-left: auto;
            small {
              font-size: 14px;
              margin-left: 8px;
              color: $primary-green;
            }
          }
        }
      }
      .sliderWrapper {
        padding-top: 65px;
        position: relative;
        .locPin {
          width: 40px;
          height: 56px;
          position: absolute;
          transform: translateX(-50%);
          bottom: 19px;
        }
        .redeem {
          position: absolute;
          left: 102%;
          bottom: 3px;
          font-size: 12px;
          font-weight: 500;
        }
        .labels {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          font-size: 12px;
          font-weight: 500;
          .creation {
            position: absolute;
            left: 0;
          }
          .launch {
            position: absolute;
            left: 27%;
          }
          .lock {
            position: absolute;
            left: 41%;
          }
        }
        .range {
          -webkit-appearance: none;
          margin: 0;
          width: 100%;
          transition: all 0.4s ease;
          background: url("../images/slider/sliderLine.svg");
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 6px;
            height: 15px;
            background: #cacaca13;
            cursor: pointer;
            position: relative;
            &::before {
              content: "";
              height: 20px;
              width: 20px;
              position: absolute;
              background: violet;
            }
          }
        }
      }
    }
    .cardWrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  ._2hu7S {
    flex: 0 0 18%;
    min-height: 18%;
  }
}
